<!doctype html>
<html>
  <head>
    <title>{{ shop.name }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    >
    {{ content_for_header }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    <header>{% section 'header' %}</header>
    <main>{{ content_for_layout }}</main>
    <footer>{% section 'footer' %}</footer>
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
