{% schema %}
{
  "name": "Gallery Section",
  "settings": [
    {
      "type": "text",
      "id": "gallery_title",
      "label": "Gallery Title",
      "default": "Gallery"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Gallery Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Choose an Image"
        }
      ]
    }
  ]
}
{% endschema %}

<section>
  <h2>{{ settings.gallery_title }}</h2>
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <img src="{{ block.settings.image | image_url }}" alt="gallery image" width="100px" height="100px">
        </div>
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
  </div>
</section>
